body {
    background-image: url(../img/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: 'Jura';
    src: url(../fonts/Jura.ttf);
}
@font-face {
    font-family: 'Kodchasan-Regular';
    src: url(../fonts/Kodchasan-Regular.ttf);
}

.header{
  background-color: rgb(22, 22, 22);
  top: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  height: 85px;
  display: flex;
  position: fixed;
  justify-content: baseline;
  align-items: center;
  }
  .nav{
      width:auto;
      margin-right: 200px;
  }
  .nav a:hover{
      color: rgb(216, 0, 126);
      transition: color 0.5s ease;
  }
  .nav a {
      word-spacing: 50px;
      font-style: normal;
      font-size: 20px;
      color: white;
      text-decoration: none;
      letter-spacing: 2px;
      font-family: 'Jura';
  }
  .logo{
      text-align: left;
      margin-right: 450px;
  }
  .logo img 
  {
  height: 80px;
  width: 80px;
  margin: 0 50px;
  position: relative;
  }
  
    


  .text {
    font-family: 'Jura';
    display: flex;
    font-style: normal;
    font-size: 48px;
    text-align: center; 
    color: white;
    justify-content: center;
    margin: 0;
    gap: 10px; 
    margin-top: 100px;
  }
  .info-pink{
    color: rgb(216, 0, 126);
  }
  



  .questions{
    background-color: rgb(0, 0, 0, 0.4);
    min-width: 100%;
    height: auto;
    justify-content: center;
    padding-top: 120px;
    margin-top: 80px;
    padding-bottom: 120px;
}

.question {
    border: 2px solid rgb(216, 0, 126);    
    padding: 10px 25px;
    margin-left: 227px;
    margin-right: 227px;
    margin-top: 20px;
  }
  
  .info__switch {
    display: none;
}
  
  .info__body {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}
.info__body p {
    font-family: "Jura";
    color: white;
    text-decoration: none;
    font-size: 24px;
}
  
  .info__switch:checked~.info__body {
    max-height: 100px;
}
  
  .info__headline::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 2px;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}
  
  .info__switch:checked~.info__headline::before {
    transform: rotate(180deg) translateY(6px);
  }
  
  .info__headline {
    display: block;
    margin-bottom: 15px;
    user-select: none;
    font-weight: normal;
    cursor: pointer;
  }
  
  .info__headline p{
    font-family: "Jura";
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

 

  .info__headline:hover {
    text-decoration: underline;
  }



 
  
  .info__switch2 {
    display: none;
}
  
  .info__body2 {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}
.info__body2 p {
    font-family: "Jura";
    color: white;
    text-decoration: none;
    font-size: 24px;
}

  
  .info__switch2:checked~.info__body2 {
    max-height: 100px;
}
  
  .info__headline2::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}
  
  .info__switch2:checked~.info__headline2::before {
    transform: rotate(180deg) translateY(6px);
  }
  
  .info__headline2 {
    display: block;
    margin-bottom: 15px;
    user-select: none;
    font-weight: normal;
    cursor: pointer;
  }
  
  .info__headline2 p{
    font-family: "Jura";
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

  .info__headline2:hover {
    text-decoration: underline;
  }

 
  
  .info__switch3 {
    display: none;
}
  
  .info__body3 {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}
.info__body3 p {
    font-family: "Jura";
    color: white;
    text-decoration: none;
    font-size: 24px;
}

  
  .info__switch3:checked~.info__body3 {
    max-height: 100px;
}
  
  .info__headline3::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}
  
  .info__switch3:checked~.info__headline3::before {
    transform: rotate(180deg) translateY(6px);
  }
  
  .info__headline3 {
    display: block;
    margin-bottom: 15px;
    user-select: none;
    font-weight: normal;
    cursor: pointer;
  }
  
  .info__headline3 p{
    font-family: "Jura";
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

  .info__headline3:hover {
    text-decoration: underline;
  }

  
  
  .info__switch4 {
    display: none;
}
  
  .info__body4 {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}
.info__body4 p {
    font-family: "Jura";
    color: white;
    text-decoration: none;
    font-size: 24px;
}

  
  .info__switch4:checked~.info__body4 {
    max-height: 100px;
}
  
  .info__headline4::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}
  
  .info__switch4:checked~.info__headline4::before {
    transform: rotate(180deg) translateY(6px);
  }
  
  .info__headline4 {
    display: block;
    margin-bottom: 15px;
    user-select: none;
    font-weight: normal;
    cursor: pointer;
  }
  
  .info__headline4 p{
    font-family: "Jura";
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

  .info__headline4:hover {
    text-decoration: underline;
  }

 
  
  .info__switch5 {
    display: none;
}
  
  .info__body5 {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}
.info__body5 p {
    font-family: "Jura";
    color: white;
    text-decoration: none;
    font-size: 24px;
}

  
  .info__switch5:checked~.info__body5 {
    max-height: 100px;
}
  
  .info__headline5::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}
  
  .info__switch5:checked~.info__headline5::before {
    transform: rotate(180deg) translateY(6px);
  }
  
.info__headline5 {
    display: block;
    margin-bottom: 15px;
    user-select: none;
    font-weight: normal;
    cursor: pointer;
  }
  
.info__headline5 p{
    font-family: "Jura";
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

.info__headline5:hover {
    text-decoration: underline;
  } 


  .podval{
    width: 100%;
    background-color: rgb(14, 14, 14);
    margin-top: 100px;
    padding-top: 55px;
    padding-bottom: 50px;
    display: flex;
  }
  
  .podval-img{
  margin-left: 55px;
  }
  .two-column-list {
    margin-top: 40px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    list-style: none;
    padding: 0;
  }
  
  .two-column-list a {
    font-family: "Jura";
  color: white;
  text-decoration: none;
  }
  
  
  .icons{
  gap: 28px;
  display: flex;
  margin-top: 70px;
  }
  .cont-podv{
  margin-left: 990px;
  display: flex;
  gap: 40px;
  }
  
  .num{
  text-align: right;
  justify-content: right;
  font-family: "Jura";
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-top: 65px;
  
  }